body{
    background-image: url(img3.jpg);
}

table{
    border: 5px solid rgb(205, 94, 50);
    width: 100%;
text-align: center;
padding: 3px;
margin-top: 5px;
}
#main_holder{
    align-items: center;
}

h1{
    text-shadow: 2px 2px #ff00d4;
}
